In [1]:
# Import necessary libraries
import pandas as pd
import numpy as np
import sys
import os

from sklearn.model_selection import train_test_split,RandomizedSearchCV
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_squared_error
from sklearn.tree import plot_tree
import matplotlib.pyplot as plt
import shap
from lime.lime_tabular import LimeTabularExplainer

c:\Users\HP\Desktop\Challenges\AlphaCare-Insurance-Solutions\week3\Lib\site-packages\tqdm\auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

In [2]:

sys.path.append('c:/Users/HP/Desktop/Challenges/AlphaCare-Insurance-Solutions/scripts')

In [3]:
df=pd.read_csv('../data/pre_proccessed/pre_proccessed.csv')

C:\Users\HP\AppData\Local\Temp\ipykernel_35388\2877040472.py:1: DtypeWarning: Columns (31) have mixed types. Specify dtype option on import or set low_memory=False.
  df=pd.read_csv('../data/pre_proccessed/pre_proccessed.csv')

In [4]:
df.head()

,UnderwrittenCoverID,PolicyID,TransactionMonth,IsVATRegistered,Citizenship,LegalType,Title,Language,Bank,AccountType,...,CoverType,CoverGroup,Section,Product,StatutoryClass,StatutoryRiskType,TotalPremium,TotalClaims,TotalClaims_repalced,premium_per_claim
0,145249,12827,2015-03-01,True,,Close Corporation,Mr,English,First National Bank,Current account,...,Windscreen,Comprehensive - Taxi,Motor Comprehensive,Mobility Metered Taxis: Monthly,Commercial,IFRS Constant,21.929825,0.0,1.0,21.929825
1,145249,12827,2015-05-01,True,,Close Corporation,Mr,English,First National Bank,Current account,...,Windscreen,Comprehensive - Taxi,Motor Comprehensive,Mobility Metered Taxis: Monthly,Commercial,IFRS Constant,21.929825,0.0,1.0,21.929825
2,145249,12827,2015-07-01,True,,Close Corporation,Mr,English,First National Bank,Current account,...,Windscreen,Comprehensive - Taxi,Motor Comprehensive,Mobility Metered Taxis: Monthly,Commercial,IFRS Constant,0.000000,0.0,1.0,0.000000
3,145255,12827,2015-05-01,True,,Close Corporation,Mr,English,First National Bank,Current account,...,Own Damage,Comprehensive - Taxi,Motor Comprehensive,Mobility Metered Taxis: Monthly,Commercial,IFRS Constant,54.824561,0.0,1.0,54.824561
4,145255,12827,2015-07-01,True,,Close Corporation,Mr,English,First National Bank,Current account,...,Own Damage,Comprehensive - Taxi,Motor Comprehensive,Mobility Metered Taxis: Monthly,Commercial,IFRS Constant,0.000000,0.0,1.0,0.000000

In [ ]:
# Initialize SHAP explainer
explainer = shap.TreeExplainer(baseline_model)

# Calculate SHAP values for the test set
shap_values = explainer.shap_values(X_test)

In [ ]:
shap_values

In [ ]:
# Visualize feature importance globally
shap.summary_plot(shap_values, X_test, plot_type="bar")

In [ ]:
# Visualize how a specific feature affects predictions
shap.dependence_plot("Premium", shap_values, X_test)

In [ ]:
# Visualize individual predictions
shap.initjs()  # Initialize the JS visualization in the notebook

# Select an observation to explain (e.g., the first observation in X_test)
observation_index = 2
shap.force_plot(explainer.expected_value, shap_values[observation_index], X_test.iloc[observation_index])

In [ ]:
# Initialize LIME explainer
lime_explainer = LimeTabularExplainer(
    training_data=X_train.values,
    feature_names=X_train.columns,
    mode="regression"
)

In [ ]:
# Choose an observation to explain
observation_index = 4

# Generate explanation for the observation
lime_exp = lime_explainer.explain_instance(
    data_row=X_test.iloc[observation_index].values,
    predict_fn=baseline_model.predict
)

# Visualize the explanation
lime_exp.show_in_notebook()

In [ ]:
# Print the explanation details
print("LIME Explanation for the Observation:")
print(lime_exp.as_list())